<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Roger's Slides</title>
    <link rel="icon" href="http://rogerluo.cc/image/favicon.png">
    <link rel="stylesheet" href="../assets/css/plain.css">
  </head>
  <body>
    <div class="container">
      <div id="markup">
        <article id="content" class="markdown-body">
        {{ page.content }}
        </article>
      </div>
    </div>
  </body>
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {
          inlineMath: [ ['$$','$$'], ["\\(","\\)"] ],
          displayMath: [ ['$$$$', '$$$$'], ["\\[", "\\]"] ],
          processEscapes: true
        },
        TeX: {
          equationNumbers: {
            autoNumber: 'AMS'
          }
        },
        "HTML-CSS": {
          imageFont: null
        }
      });
  </script>
  <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/2.1-latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
</html>
